extends layout

block content
  div.container-narrow
    div.masthead
      h3.muted fuck yea!
    div.jumbotron
      h1 Anson Chu
      p.lead Welcome to my personal webpage bitches! 

    div.row-fluid.marketing
      div.span6
        h4 salesforce
        p it's the most innovative company in the world!

        h4 san francisco
        p still don't get why people call it "the city". pretty cool, though I do miss hong kong

      div.span6
        h4 node express stylus jade backbone
        p pretty cool stuff, if you havent already played around with it

        h4 kumikoda on github
        p git commit -am "FUCK"

      div.span6
        h4 basketball, swimming, yoga and lifting
        p working on my musculs

    
        h4 @ansonschu @haskellcat
        p I tweet (mostly) about technology, i post pictures of myself and cool shizzles
      div.span6
        h4 heroes of newerth
        p look me up @kumikoda on channel good food

      


  
  