extends layout

block content
  header#sidebar
    img#headshot(src='/images/anson.jpg')
    h1= title
    p.lead 
      I am a developer, philosopher and author!
  
    div.support
      h4 
        a salesforce
      p under UX/Marketing building demos and protoypes. (we are hiring btw!)

      h4 
        a san francisco
      p still don't get why people call it "the city". i still love hong kong

      h4 
        a codez <3
      p current fav stack: node, express, coffeescript, stylus, jade, backbone, hogan 

      h4 
        a kumikoda on github
      p current side project is this website!

      h4 
        a @ansonschu 
        a @haskellcat
      p I tweet about technology (mostly). I post pictures of myself and cool shizzles

      h4
        a i like to read 
      p catch 22, 1984, fahrenheit 451, V, brothers karamazov, lolita. Anything about dystopias or existentialism.

      h4
        a i like to write 
      p check out my personal blog!

          


  section#river
    article
      header
        h2 Item 1r
      p article Look what I did here!  


  
  