html, body
  padding 0
  margin 0
  height 100%


header#sidebar 
  position fixed
  width 23%
  padding 1.5%
  z-index 1
  height 100%
  border-right 1px solid #e3e3e3

  #headshot
    height 250px
    border-radius 100px

section#river 
  position relative
  margin-left 26%
  background-color: #fff

  article
    border-bottom 1px solid #e3e3e3
    h-padding = 50px 
    header
      padding 10px h-padding
      border-bottom 1px solid #e3e3e3

    p
      padding 30px h-padding








